@import '../../theme/color-table.scss';

.inputTextLabel{
    position: absolute;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    transform: translate(0,-23px);
    padding-left: 5px;
    transition: transform 0.10s ease-in, font-size 0.10s ease-in;
    
    &.focused{
        font-size: 0.75rem;
        color: $arhitextura-medium;
        transform: translate(0,-46px);
    }

}

.input{
    min-width: 250px;
    border: none;
    border-bottom: 1px solid $arhitextura-dark;
    // border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.form{
    display: grid;
    grid-template-rows: auto;
    row-gap: 20px;

}