
.contents{
    max-height: 0px;
    display: flex;
    opacity: 0.01;
    visibility: hidden;
    transition: max-height, 0.5s ease-in 0.1s, opacity 0.5s ease-out ;
    
    
    &.on{
        display: flex;
        max-height: 200px;
        opacity: 1;
        visibility: visible;
    }
}



