@import './theme/color-table.scss';

.main-container {
  display: grid;
  grid-template-columns: 0.75fr 217mm 0.75fr;
  // column-gap:20px;
  margin: auto;
  padding:50px 20px 0px 20px;
}
html {
  
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 10px;
    background: $arhitextura-light;
    border-radius: 5px;
    margin: 20px;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background: $arhitextura-light;
    border-radius: 5px;
    margin: 20px;
  }

  &::-webkit-scrollbar-thumb {
    
    background: #CCC;
    border-radius: 10px;
    &:hover{
      background-color: $arhitextura-medium;
    }
  }
}


@media print {

  //set the page to A4
  @page {
    margin: 0;
    size: A4 portrait;
  }

  //make it look like a block not a grid so it can break the page
  .main-container {
    display: block;
    margin-top: 20px;
    margin-left: 55px;
    margin-bottom: 25px;
    margin-right: 20px;
    padding: 0;
  }

  .panel {
    visibility: hidden;
    display: none;
  }
}